Laboratory3/Laboratory1.console/src/wsdl/localhost_8080/Laboratory.Standalone/StudentWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://standalone.laboratory.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://standalone.laboratory.mycompany.com/" name="StudentWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://standalone.laboratory.mycompany.com/" schemaLocation="http://localhost:8080/Laboratory.Standalone/StudentWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="delete">
<part name="parameters" element="tns:delete"/>
</message>
<message name="deleteResponse">
<part name="parameters" element="tns:deleteResponse"/>
</message>
<message name="getById">
<part name="parameters" element="tns:getById"/>
</message>
<message name="getByIdResponse">
<part name="parameters" element="tns:getByIdResponse"/>
</message>
<message name="update">
<part name="parameters" element="tns:update"/>
</message>
<message name="updateResponse">
<part name="parameters" element="tns:updateResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="createResponse">
<part name="parameters" element="tns:createResponse"/>
</message>
<message name="findStudents">
<part name="parameters" element="tns:findStudents"/>
</message>
<message name="findStudentsResponse">
<part name="parameters" element="tns:findStudentsResponse"/>
</message>
<portType name="StudentWebService">
<operation name="delete">
<input wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/deleteRequest" message="tns:delete"/>
<output wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/deleteResponse" message="tns:deleteResponse"/>
</operation>
<operation name="getById">
<input wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/getByIdRequest" message="tns:getById"/>
<output wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/getByIdResponse" message="tns:getByIdResponse"/>
</operation>
<operation name="update">
<input wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/updateRequest" message="tns:update"/>
<output wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/updateResponse" message="tns:updateResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/createRequest" message="tns:create"/>
<output wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/createResponse" message="tns:createResponse"/>
</operation>
<operation name="findStudents">
<input wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/findStudentsRequest" message="tns:findStudents"/>
<output wsam:Action="http://standalone.laboratory.mycompany.com/StudentWebService/findStudentsResponse" message="tns:findStudentsResponse"/>
</operation>
</portType>
<binding name="StudentWebServicePortBinding" type="tns:StudentWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="delete">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getById">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="update">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findStudents">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="StudentWebService">
<port name="StudentWebServicePort" binding="tns:StudentWebServicePortBinding">
<soap:address location="http://localhost:8080/Laboratory.Standalone/StudentWebService"/>
</port>
</service>
</definitions>